.modal-head{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(56, 56, 214);
    justify-content: space-between;
    color: white;
    padding: 20px 40px;
    display:flex ;

}
.save {
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(13, 181, 91);
    justify-content: flex-end;
    color: white;
    padding: 20px 40px;

}

.r∆°w{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}