body{
font-family: Arial;
width:400px;
margin:auto;
}

input,select,textarea{
width:100%;
padding:8px;
margin:5px 0;
}

button{
padding:10px;
margin-top:10px;
}

.error{
color:red;
font-size:14px;
}

#noteCount{
font-size:14px;
}

#confirmBox{
border:1px solid gray;
padding:15px;
margin-top:20px;
}