body{
    background-color: #f0f0f0;
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 40px;
}
.header{
    background-color: #fbfafa;
    color: rgb(169, 165, 165);
    padding: 30px;
    text-align: center;
    border: 2px solid black;
    max-width: 800px;
    margin: 0 auto;
}
h1{
    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
}
.contact-form{
   display: flex;
   flex-direction: column;
   gap: 15px;

}
.row{
    display: flex;
    gap: 25px;
}
.row input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
}
.row textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    height: 100px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer button{
    background-color: blue;
    color: white;
}

